/* Estilos generales */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #343a40; /* Color de fondo oscuro */
    font-family: 'Roboto', sans-serif; /* Fuente de letras */
    color: #ffffff; /* Color de texto */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el tablero */

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columnas */
    grid-template-rows: repeat(10, 1fr); /* 10 filas */
    max-width: 90vw; /* Ancho máximo del tablero */
    max-height: 90vw; /* Alto máximo del tablero */
    width: min(90vw, 600px); /* Ancho del tablero limitado a 600px */
    height: min(90vw, 600px); /* Alto del tablero limitado a 600px */
    gap: 2px; /* Espacio entre las celdas */
}

.cell {
    border: 2px solid #495057; /* Grosor del borde de las celdas */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; /* Tamaño de la fuente */
    cursor: pointer;
    background-color: #212529; /* Color de fondo de las celdas */
    position: relative; /* Establecer la posición relativa para poder posicionar la X absolutamente */
}

.cell:hover {
    background-color: #343a40; /* Color de fondo al pasar el ratón sobre las celdas */
}

.marked::after {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; /* Tamaño de la fuente de la X ajustado a 1.2 veces el tamaño normal */
    color: #dc3545; /* Color de la X */
    font-weight: bold; /* Peso de la fuente de la X */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de la X */
}

/* Estilos para el botón */

.reset-button {
    border: 2px solid #495057; /* Grosor del borde */
    background-color: #212529; /* Color de fondo */
    color: #ffffff; /* Color de texto */
    font-size: 1em; /* Tamaño de la fuente */
    font-family: 'Roboto', sans-serif; /* Fuente de letras */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; 
    margin-top: 10px; /* Espacio superior */
}

.reset-button:hover {
    background-color: #343a40; /* Cambio de color al pasar el ratón */
}
